<template>
  <div class="audio-group">
    <div
      v-for="a in playList"
      :key="a.id"
      class="row item-list item-list-xs item-list-li m-b"
    >
      <AudioGroupRow
        :active="a.id === idAudioCurrent && isPlaying"
        :audio="a"
        @onPlay="play"
        @onPause="pause"
        />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import AudioGroupRow from './AudioGroupRow'
export default {
  components: {
    AudioGroupRow
  },
  props: {
    playList: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapState('player', [
      'idAudioCurrent',
      'isPlaying'
    ]),
    currentPlaylistActive () {
      return this.playList.find(s => s.id === this.idAudioCurrent)
    }
  },
  methods: {
    ...mapMutations('player', [
      'SET_PLAY_LIST'
    ]),
    ...mapActions('player', [
      'playAudio',
      'pauseAudio',
      'playPause',
      'initPlayer'
    ]),
    play (id) {
      if (id === this.idAudioCurrent) return this.playPause(true)
      this.SET_PLAY_LIST(this.playList)
      this.initPlayer()
      this.playAudio(id)
    },
    pause () {
      this.playPause(false)
    }
  }
}
</script>

<style lang="scss" scoped>
  .item-list-li{
    counter-reset: initial !important;
  }
  .audio-group{
    counter-reset: li;
  }
</style>
