<template>
  <div class="col-xs-12">
    <div
       :class="{'active': isPlaying}"
      class="item r"
      data-id="item-12"
      data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
    >
      <div class="item-media">
        <a
          href="track.detail.html"
          class="item-media-content"
          style="background-image: url('images/b11.jpg')"
        ></a>
        <div
          :class="{'active': isPlaying}"
          class="item-overlay center">
          <button
            @click="playPause"
            :class="{'is-playing': isPlaying}"
            class="btn-playpause">
              Play
            </button>
        </div>
      </div>
      <div class="item-info">
        <div class="item-overlay bottom text-right">
          <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
          <a href="#" class="btn-more" data-toggle="dropdown"
            ><i class="fa fa-ellipsis-h"></i
          ></a>
          <div class="dropdown-menu pull-right black lt"></div>
        </div>
        <div class="item-title text-ellipsis">
          <a href="track.detail.html">{{ audio.name ? audio.name : 'Нет имени' }}</a>
          <div>
            <router-link
              v-for="a in authors"
              :key="a.id"
              :to="`/authors/${a.id}`"
              class="author-name">{{ a.name }}
            </router-link>
          </div>
        </div>
        <div class="item-author text-sm text-ellipsis hide">
          <a href="artist.detail.html" class="text-muted">Postiljonen</a>
        </div>
        <!-- <div class="item-meta text-sm text-muted">
          <span class="item-meta-right">5:20</span>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    audio: {
      type: Object,
      required: true
    },
    active: Boolean
  },
  computed: {
    ...mapState('player', [
      'currentAudioID'
    ]),
    isPlaying () {
      return this.active
    },
    authors () {
      return this.audio.performers
        ? this.audio.performers
        : []
    }
  },
  methods: {
    playPause () {
      const event = this.isPlaying ? 'onPause' : 'onPlay'
      this.$emit(event, this.audio.id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .author-name{
    color: #939393;
    &:hover{
      text-decoration: underline;
    }
  }
</style>
