/* eslint-disable no-unused-vars */
<template>
  <div class="app-footer app-player grey bg">
      <div @mouseenter="onVolumeMouseEnter" @mouseleave="onVolumeMouseLeave" v-show="showVolControl" class="volume-control">
        <Slider :min="-0.01" :max="1" :step="0.1" :tooltips="false" orientation="vertical" direction="rtl" v-model="playerVolume" ></Slider>
      </div>
      <div
        class="playlist mep-tracks-count-3 has-artwork is-tracklist-closed"
        style="width: 100%"
      >
        <span class="mejs-offscreen">Audio Player</span>
        <div
          id="mep_0"
          class="mejs-container mejs-audio"
          tabindex="0"
          role="application"
          aria-label="Audio Player"
          style="width: 100%; height: 40px"
        >
          <div class="mejs-inner">
            <div class="mejs-mediaelement">
              <audio
                src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
              ></audio>
            </div>
            <div class="mejs-layers">
              <div
                class="mejs-poster mejs-layer"
                style="display: none; width: 100%; height: 40px"
              ></div>
              <div class="mejs-track-actions">
                <button
                  style="display: none"
                  class="mejs-like-button btn btn-sm no-bg btn-icon"
                  track-id="item-1"
                ></button>
              </div>
              <a
                class="mejs-track-artwork"
                style="background-image: url('assets/images/b0.jpg')"
              ></a>
              <div class="mejs-track-details">
                <span class="mejs-track-title"
                  ><a>{{ audioCurrentData ? audioCurrentData.name : ''  }}</a></span
                >
                <!-- <span v-if="audioCurrentData.performers && audioCurrentData.performers.length" class="mejs-track-author"><router-link :to="`/authors/${audioCurrentData?.performers[0].id}`">{{ audioCurrentData ? audioCurrentData?.performers[0]?.name : '' }}</router-link></span> -->
              </div>
              <div class="mejs-track-source"><i></i></div>
              <div
                class="mejs-overlay-error mejs-layer"
                style="width: 100%; height: 40px"
              >
                <!-- <div class="mejs-error">
                  Oh snap, there was a playback error!
                </div> -->
              </div>
            </div>
            <div class="mejs-controls">
              <div class="mejs-button mejs-previous-button mejs-previous">
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Previous Track"
                ></button>
              </div>
              <div
                @click="onPlayPauseClick"
                :class="isPlaying ? 'mejs-pause' : 'mejs-play'"
                class="mejs-button mejs-playpause-button">
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Play"
                  aria-label="Pause"
                ></button>
              </div>
              <div class="mejs-button mejs-next-button mejs-next">
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Next Track"
                ></button>
              </div>
              <div class="mejs-time-rail" style="width: 100%">
                <span
                  @click="onTimeLineClick"
                  class="mejs-time-total mejs-time-slider"
                  aria-label="Time Slider"
                  aria-valuemin="0"
                  aria-valuemax="NaN"
                  aria-valuenow="0"
                  aria-valuetext="00:00"
                  role="slider"
                  tabindex="0"
                  style="width: 100%"
                  ><span
                    class="mejs-time-buffering"
                    style="display: none"
                  ></span
                  ><span class="mejs-time-loaded"></span
                  >
                  <span
                    :style="progressDashStyle"
                    class="mejs-time-current"></span
                  ><span class="mejs-time-handle"></span
                  ><span class="mejs-time-float" style="display: none"
                    ><span class="mejs-time-float-current">00:00</span
                    ><span class="mejs-time-float-corner"></span></span
                ></span>
              </div>
              <div class="mejs-time" role="timer" aria-live="off">
                <span class="mejs-currenttime">{{ seekCurrentComputed }}</span
                ><span class="mejs-time-separator"> / </span
                ><span class="mejs-duration">{{ durationCurrentComputed }}</span>
              </div>
              <div class="mejs-button mejs-volume-button mejs-mute">
                <button
                  @mouseleave="onVolumeMouseLeave"
                  @mouseenter="onVolumeMouseEnter"
                  type="button"
                  aria-controls="mep_0"
                  title="Mute"
                  aria-label="Mute"
                ></button
                ><a
                  href="javascript:void(0);"
                  class="mejs-volume-slider"
                  aria-label="volumeSlider"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  aria-valuenow="80"
                  aria-valuetext="80%"
                  role="slider"
                  tabindex="0"
                  style="display: none"
                  ><span class="mejs-offscreen"
                    >Use Up/Down Arrow keys to increase or decrease
                    volume.</span
                  >
                  <div class="mejs-volume-total"></div>
                  <div
                    class="mejs-volume-current"
                    style="height: 80px; top: 28px"
                  ></div>
                  <div class="mejs-volume-handle" style="top: 25px"></div
                ></a>
              </div>
              <div class="mejs-button mejs-repeat-button mejs-repeat">
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Repeat"
                ></button>
              </div>
              <div class="mejs-button mejs-shuffle-button mejs-repeat">
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Shuffle"
                ></button>
              </div>
              <div
                class="mejs-button mejs-toggle-playlist-button mejs-toggle-playlist is-closed"
              >
                <button
                  type="button"
                  aria-controls="mep_0"
                  title="Toggle Playlist"
                ></button>
              </div>
            </div>
            <div class="mejs-clear"></div>
          </div>
        </div>
        <ol class="tracks">
          <li class="track">
            <div class="track-action"><a class="track-remove">×</a></div>
            <div class="track-info">
              <span class="track-title">Pull Up</span
              ><span class="track-author">Summerella</span>
            </div>
          </li>
          <li class="track">
            <div class="track-action"><a class="track-remove">×</a></div>
            <div class="track-info">
              <span class="track-title">Fireworks</span
              ><span class="track-author">Kygo</span>
            </div>
          </li>
          <li class="track">
            <div class="track-action"><a class="track-remove">×</a></div>
            <div class="track-info">
              <span class="track-title">I Wanna Be In the Cavalry</span
              ><span class="track-author">Jeremy Scott</span>
            </div>
          </li>
        </ol>
      </div>
    </div>
</template>

<script>
import Slider from '@vueform/slider'
import { mapMutations, mapState, mapGetters, mapActions } from 'vuex'
import moment from 'moment'
import emitter from '../../utils/emitter'
export default {
  components: {
    Slider
  },
  data () {
    return {
      showVolControl: false,
      timerid: null
    }
  },
  computed: {
    playerVolume: {
      set (v) {
        this.SET_CURRENT_VOLUME(v)
        this.updateVolume(v)
      },
      get () {
        return this.volume
      }
    },
    ...mapState('player', [
      'seekCurrent',
      'durationCurrent',
      'isPlaying',
      'volume'
    ]),
    ...mapGetters('player', [
      'audioCurrentData'
    ]),
    seekCurrentComputed () {
      return moment(this.seekCurrent * 1000).format('mm:ss')
    },
    durationCurrentComputed () {
      return moment(this.durationCurrent * 1000).format('mm:ss')
    },
    progressDashStyle () {
      const res = { width: 0 }
      res.width = (this.seekCurrent / this.durationCurrent) * 100 + '%'
      return res
    }
  },
  methods: {
    ...mapMutations('player', [
      'SET_SEEK_CURRENT',
      'SET_DURATION_CURRENT',
      'SET_IS_PLAYING',
      'SET_CURRENT_VOLUME'
    ]),
    ...mapActions('player', [
      'playPause',
      'updateVolume',
      'setSeek'
    ]),
    onPlayPauseClick () {
      this.playPause(!this.isPlaying)
    },
    onVolumeMouseLeave () {
      this.timerid = setTimeout(() => {
        this.showVolControl = false
      }, 250)
    },
    onVolumeMouseEnter () {
      clearTimeout(this.timerid)
      this.showVolControl = true
    },
    onTimeLineClick (e) {
      const rect = e.currentTarget.getBoundingClientRect()
      const lOffset = rect.x
      const width = rect.width
      const clickX = e.clientX
      const percent = (clickX - lOffset) / width * 100
      const seconds = this.durationCurrent * percent / 100
      this.setSeek(seconds)
    }
  },
  mounted () {
    emitter.on('SET_CURRENT_SEEK', this.SET_SEEK_CURRENT)
    emitter.on('SET_DURATION_CURRENT', this.SET_DURATION_CURRENT)
    emitter.on('SET_IS_PLAYING', this.SET_IS_PLAYING)
    emitter.on('SET_CURRENT_VOLUME', this.SET_CURRENT_VOLUME)
  }
}
</script>

<style lang="scss" scoped>
  .volume-control{
    position: absolute;
    right: 49px;
    bottom: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    height: 125px;
    user-select: none;
    z-index: 99;
    :deep .slider-target{
      max-height: 100%;
    }
  }
</style>
<style src="@vueform/slider/themes/default.css"></style>
