<template>
  <div class="app-header hidden-lg-up white lt box-shadow-z1">
    <div class="navbar">
      <!-- brand -->
      <a class="navbar-brand md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          width="32"
          height="32"
        >
          <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)"></circle>
          <circle
            cx="24"
            cy="24"
            r="22"
            fill="#1c202b"
            class="brand-color"
          ></circle>
          <circle cx="24" cy="24" r="10" fill="#ffffff"></circle>
          <circle
            cx="13"
            cy="13"
            r="2"
            fill="#ffffff"
            class="brand-animate"
          ></circle>
          <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF"></path>
          <circle cx="24" cy="24" r="3" fill="#000000"></circle>
        </svg>

        <img src="images/logo.png" alt="." class="hide" />
        <span class="hidden-folded inline">rapcloud</span>
      </a>
      <!-- / brand -->
      <!-- nabar right -->
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <!-- Open side - Naviation on mobile -->
          <a @click="onHamburgerClick" data-toggle="modal" data-target="#aside" class="nav-link">
            <i class="material-icons">menu</i>
          </a>
          <!-- / -->
        </li>
      </ul>
      <!-- / navbar right -->
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions('asideNav', [
      'A_TOGGLE_NAVIGATION_SHOWED'
    ]),
    onHamburgerClick () {
      this.A_TOGGLE_NAVIGATION_SHOWED()
    }
  }
}
</script>
