<template>
  <div class="input-group input-group-lg">
    <ui-input
      @onSubmit="initSearch"
      v-model="query"
    />
    <span class="input-group-btn">
      <button
        @click="initSearch"
        class="btn b-a no-shadow white"
        type="button">
          <template v-if="loading">
            <PulseLoader/>
          </template>
          <template v-else>
            Search
          </template>
        </button>
    </span>
  </div>
</template>

<script>
import uiInput from '../ui/ui-input.vue'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  components: { uiInput, PulseLoader },
  props: {
    loading: Boolean
  },
  data () {
    return {
      query: ''
    }
  },
  methods: {
    initSearch () {
      this.$emit('onSearch', this.query)
    }
  }
}
</script>

<style lang="scss" scoped>
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

</style>
