<!DOCTYPE html>
<html lang="">
  <head>

      <!-- style -->
    <link rel="stylesheet" href="/assets/css/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/material-design-icons/material-design-icons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="/assets/css/styles/app.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/styles/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/styles/font.css" type="text/css" />
    
    <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.theme.css" type="text/css" />
    <link rel="stylesheet" href="/assets/libs/mediaelement/build/mediaelementplayer.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/libs/mediaelement/build/mep.css" type="text/css" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
