<template>
  <div
    v-infinity-scroll="fetchMoreRows"
    infinite-scroll-disabled="fetching"
    class="authors padding">
    <div class="row padding">
      <SearchInput
        class="search-input"
        @onSearch="makeSearch"
        :loading="searchFetching"
      />
    </div>
    <div class="row row-lg">
      <router-link v-for="a in authors" :key="a.id" :to="`/authors/${a.id}`" class="col-xs-4 col-sm-4 col-md-2">
        <div class="item">
          <div class="item-media rounded">
            <span
              href="artist.detail.html"
              class="item-media-content"
              style="background-image: url('/assets/images/a3.jpg')"
            ></span>
          </div>
          <div class="item-info text-center">
            <div class="item-title text-ellipsis">
              <span href="artist.detail.html">{{ a.name }}</span>
              <div v-if="a.tracks_performers_count" class="text-sm text-muted">{{ a.tracks_performers_count }} songs</div>
            </div>
          </div>
        </div>
      </router-link>
    </div>
    <div style="display: flex; justify-content: center">
      <PulseLoader v-if="fetching"/>
    </div>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import SearchInput from '@/components/shared/SearchInput'
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  components: {
    SearchInput,
    PulseLoader
  },
  data () {
    return {
      fetching: false,
      searchFetching: false
    }
  },
  computed: {
    ...mapState('authors', [
      'authors',
      'currentPage'
    ])
  },
  methods: {
    ...mapActions('authors', [
      'fetchAuthors',
      'searchAuthors'
    ]),
    ...mapMutations('authors', [
      'SET_CURRENT_PAGE'
    ]),
    async fetchMoreRows () {
      this.fetching = true
      const p = this.currentPage + 1
      this.SET_CURRENT_PAGE(p)
      await this.fetchAuthors()
      this.fetching = false
    },
    async makeSearch (q) {
      this.searchFetching = true
      await this.searchAuthors(q)
      this.searchFetching = false
    }
  },
  beforeMount () {
    this.fetchAuthors()
  }
}
</script>

<style lang="scss" scoped>
  .authors{
    padding-bottom: 70px;
  }
</style>
