<template>
  <div id="content" class="app-content white bg box-shadow-z2" role="main">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
      <div class="navbar">
        <!-- brand -->
        <a href="index.html" class="navbar-brand md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            width="32"
            height="32"
          >
            <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)" />
            <circle cx="24" cy="24" r="22" fill="#1c202b" class="brand-color" />
            <circle cx="24" cy="24" r="10" fill="#ffffff" />
            <circle
              cx="13"
              cy="13"
              r="2"
              fill="#ffffff"
              class="brand-animate"
            />
            <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
            <circle cx="24" cy="24" r="3" fill="#000000" />
          </svg>

          <img src="images/logo.png" alt="." class="hide" />
          <span class="hidden-folded inline">pulse</span>
        </a>
        <!-- / brand -->
        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <!-- Open side - Naviation on mobile -->
            <a data-toggle="modal" data-target="#aside" class="nav-link">
              <i class="material-icons">menu</i>
            </a>
            <!-- / -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
    </div>
    <div class="app-footer app-player grey bg">
      <div class="playlist" style="width: 100%"></div>
    </div>
    <div class="app-body" id="view">
      <!-- ############ PAGE START-->
      <div class="pos-rlt">
        <div
          class="page-bg"
          data-stellar-ratio="2"
          style="background-image: url('images/b5.jpg')"
        ></div>
      </div>
      <div class="page-content">
        <div class="padding b-b">
          <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
              <div class="item w rounded">
                <div class="item-media">
                  <div
                    class="item-media-content"
                    style="background-image: url('assets/images/b5.jpg')"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="p-l-md no-padding-xs">
                <div class="page-title">
                  <h1 class="inline">{{ author ? author.name : 'Loading...' }}</h1>
                  <label
                    class="fa fa-star text-primary text-lg m-b v-m m-l-xs"
                    title="Pro"
                  ></label>
                </div>
                <p style="display: none">❤️Jeenee - beautiful girl with a beatiful soul❤️</p>
                <p
                  class="item-desc text-ellipsis text-muted"
                  data-ui-toggle-class="text-ellipsis"
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quamquam tu hanc copiosiorem etiam soles dicere. Nihil illinc
                  huc pervenit. Verum hoc idem saepe faciamus. Quid ad
                  utilitatem tantae pecuniae? Utram tandem linguam nescio? Sed
                  hoc sane concedamus.
                </p>
                <div class="item-action m-b">
                  <a
                    class="btn btn-icon white rounded btn-share pull-right"
                    data-toggle="modal"
                    data-target="#share-modal"
                    ><i class="fa fa-share-alt"></i
                  ></a>
                  <button class="btn-playpause text-primary m-r-sm"></button>
                  <span>9 Albums, 105 Tracks</span>
                </div>
                <div class="block clearfix m-b">
                  <a class="btn btn-xs rounded white">Soul</a>
                  <a class="btn btn-xs rounded white">Electro</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-col">
          <div class="col-lg-9 b-r no-border-md">
            <div class="padding">
              <div class="nav-active-border b-primary bottom m-b-md">
                <ul class="nav l-h-2x">
                  <!-- <li class="nav-item m-r inline">
                    <a
                      class="nav-link active"
                      href="#"
                      data-toggle="tab"
                      data-target="#tab_1"
                      >Overview</a
                    >
                  </li> -->
                  <li class="nav-item m-r inline">
                    <a
                      class="nav-link"
                      href="#"
                      data-toggle="tab"
                      data-target="#tab_2"
                      >Tracks</a
                    >
                  </li>
                  <!-- <li class="nav-item m-r inline">
                    <a
                      class="nav-link"
                      href="#"
                      data-toggle="tab"
                      data-target="#tab_3"
                      >Playlists</a
                    >
                  </li> -->
                  <!-- <li class="nav-item m-r inline">
                    <a
                      class="nav-link"
                      href="#"
                      data-toggle="tab"
                      data-target="#tab_4"
                      >Profile</a
                    >
                  </li> -->
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane" id="tab_1">
                  <h5 class="m-b">Popular</h5>
                  <div
                    class="row item-list item-list-md item-list-li m-b"
                    id="tracks"
                  >
                    <div class="col-md-12 col-lg-6">
                      <div
                        class="item r"
                        data-id="item-2"
                        data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b1.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Fireworks</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Kygo</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 30
                              <i class="fa fa-heart m-l-sm text-muted"></i> 10
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div
                        class="item r"
                        data-id="item-11"
                        data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b10.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Spring</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Pablo Nouvelle</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 4500
                              <i class="fa fa-heart m-l-sm text-muted"></i> 2310
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div
                        class="item r"
                        data-id="item-1"
                        data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b0.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Pull Up</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Summerella</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 3200
                              <i class="fa fa-heart m-l-sm text-muted"></i> 210
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div
                        class="item r"
                        data-id="item-6"
                        data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b5.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Body on me</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Rita Ora</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 330
                              <i class="fa fa-heart m-l-sm text-muted"></i> 220
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="m-b">Albums</h5>
                  <div class="row m-b">
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-7"
                        data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b6.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Reflection (Deluxe)</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Fifth Harmony</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 200
                              <i class="fa fa-heart m-l-sm text-muted"></i> 510
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-11"
                        data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b10.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Spring</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Pablo Nouvelle</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 4500
                              <i class="fa fa-heart m-l-sm text-muted"></i> 2310
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-4"
                        data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b3.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html"
                              >What A Time To Be Alive</a
                            >
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Judith Garcia</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 320
                              <i class="fa fa-heart m-l-sm text-muted"></i> 20
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-9"
                        data-src="http://api.soundcloud.com/tracks/264094434/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b8.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">All I Need</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Pablo Nouvelle</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 4500
                              <i class="fa fa-heart m-l-sm text-muted"></i> 2310
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-10"
                        data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b9.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">The Open Road</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Postiljonen</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 860
                              <i class="fa fa-heart m-l-sm text-muted"></i> 240
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-6"
                        data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b5.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Body on me</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Rita Ora</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 330
                              <i class="fa fa-heart m-l-sm text-muted"></i> 220
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-5"
                        data-src="http://streaming.radionomy.com/JamendoLounge"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b4.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Live Radio</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Radionomy</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 3340
                              <i class="fa fa-heart m-l-sm text-muted"></i> 100
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-2"
                        data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b1.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">Fireworks</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Kygo</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 30
                              <i class="fa fa-heart m-l-sm text-muted"></i> 10
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn btn-sm white rounded">Show More</a>
                </div>
                <div class="tab-pane active" id="tab_2">
                  <div class="row m-b">
                    <PulseLoader v-if="fetching"/>
                    <template v-else>
                      <div
                      v-for="(s, i) in authorSongs"
                      :key="i"
                      class="col-xs-4 col-sm-4 col-md-2">
                      <div
                        class="item r"
                        data-id="item-2"
                        data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            class="item-media-content"
                            style="background-image: url('/assets/images/b1.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button
                              @click="onPlayClick(s)"
                              class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">{{ s.name }}</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Kygo</a
                            >
                          </div>
                          <!-- <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 30
                              <i class="fa fa-heart m-l-sm text-muted"></i> 10
                            </span>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    </template>
                  </div>
                  <!-- <a href="#" class="btn btn-sm white rounded">Show More</a> -->
                </div>
                <div class="tab-pane" id="tab_3">
                  <div class="row m-b">
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-9"
                        data-src="http://api.soundcloud.com/tracks/264094434/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b8.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html">All I Need</a>
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Pablo Nouvelle</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 4500
                              <i class="fa fa-heart m-l-sm text-muted"></i> 2310
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3">
                      <div
                        class="item r"
                        data-id="item-3"
                        data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                      >
                        <div class="item-media">
                          <a
                            href="track.detail.html"
                            class="item-media-content"
                            style="background-image: url('images/b2.jpg')"
                          ></a>
                          <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"
                              ><i class="fa fa-ellipsis-h"></i
                            ></a>
                            <div
                              class="dropdown-menu pull-right black lt"
                            ></div>
                          </div>
                          <div class="item-title text-ellipsis">
                            <a href="track.detail.html"
                              >I Wanna Be In the Cavalry</a
                            >
                          </div>
                          <div class="item-author text-sm text-ellipsis hide">
                            <a href="artist.detail.html" class="text-muted"
                              >Jeremy Scott</a
                            >
                          </div>
                          <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                              <i class="fa fa-play text-muted"></i> 300
                              <i class="fa fa-heart m-l-sm text-muted"></i> 10
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab_4">
                  <div class="row-col m-b">
                    <div class="col-xs w-xs text-muted">Location</div>
                    <div class="col-xs">UK</div>
                  </div>
                  <div class="row-col m-b">
                    <div class="col-xs w-xs text-muted">Website</div>
                    <div class="col-xs">
                      <a href="http://rachel-platten.com"
                        >http://rachel-platten.com</a
                      >
                    </div>
                  </div>
                  <div class="row-col m-b">
                    <div class="col-xs w-xs text-muted"></div>
                    <div class="col-xs">
                      <a
                        href=""
                        class="btn btn-icon btn-social rounded white btn-sm"
                      >
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook indigo"></i>
                      </a>
                      <a
                        href=""
                        class="btn btn-icon btn-social rounded white btn-sm"
                      >
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter light-blue"></i>
                      </a>
                      <a
                        href=""
                        class="btn btn-icon btn-social rounded white btn-sm"
                      >
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus red"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-3 w-xxl w-auto-md">
            <div
              class="padding"
              style="bottom: 60px"
              data-ui-jp="stick_in_parent"
            >
              <h6 class="text text-muted">5 Likes</h6>
              <div class="row item-list item-list-sm m-b">
                <div class="col-xs-12">
                  <div
                    class="item r"
                    data-id="item-3"
                    data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                  >
                    <div class="item-media">
                      <a
                        href="track.detail.html"
                        class="item-media-content"
                        style="background-image: url('images/b2.jpg')"
                      ></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html"
                          >I Wanna Be In the Cavalry</a
                        >
                      </div>
                      <div class="item-author text-sm text-ellipsis">
                        <a href="artist.detail.html" class="text-muted"
                          >Jeremy Scott</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div
                    class="item r"
                    data-id="item-10"
                    data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                  >
                    <div class="item-media">
                      <a
                        href="track.detail.html"
                        class="item-media-content"
                        style="background-image: url('images/b9.jpg')"
                      ></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">The Open Road</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis">
                        <a href="artist.detail.html" class="text-muted"
                          >Postiljonen</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div
                    class="item r"
                    data-id="item-1"
                    data-src="http://api.soundcloud.com/tracks/269944843/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                  >
                    <div class="item-media">
                      <a
                        href="track.detail.html"
                        class="item-media-content"
                        style="background-image: url('images/b0.jpg')"
                      ></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Pull Up</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis">
                        <a href="artist.detail.html" class="text-muted"
                          >Summerella</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div
                    class="item r"
                    data-id="item-11"
                    data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                  >
                    <div class="item-media">
                      <a
                        href="track.detail.html"
                        class="item-media-content"
                        style="background-image: url('images/b10.jpg')"
                      ></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Spring</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis">
                        <a href="artist.detail.html" class="text-muted"
                          >Pablo Nouvelle</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div
                    class="item r"
                    data-id="item-7"
                    data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c"
                  >
                    <div class="item-media">
                      <a
                        href="track.detail.html"
                        class="item-media-content"
                        style="background-image: url('images/b6.jpg')"
                      ></a>
                    </div>
                    <div class="item-info">
                      <div class="item-title text-ellipsis">
                        <a href="track.detail.html">Reflection (Deluxe)</a>
                      </div>
                      <div class="item-author text-sm text-ellipsis">
                        <a href="artist.detail.html" class="text-muted"
                          >Fifth Harmony</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="text text-muted">Go mobile</h6>
              <div class="btn-groups">
                <a
                  href=""
                  class="btn btn-sm dark lt m-r-xs"
                  style="width: 135px"
                >
                  <span class="pull-left m-r-sm">
                    <i class="fa fa-apple fa-2x"></i>
                  </span>
                  <span class="clear text-left l-h-1x">
                    <span class="text-muted text-xxs">Download on the</span>
                    <b class="block m-b-xs">App Store</b>
                  </span>
                </a>
                <a href="" class="btn btn-sm dark lt" style="width: 133px">
                  <span class="pull-left m-r-sm">
                    <i class="fa fa-play fa-2x"></i>
                  </span>
                  <span class="clear text-left l-h-1x">
                    <span class="text-muted text-xxs">Get it on</span>
                    <b class="block m-b-xs m-r-xs">Google Play</b>
                  </span>
                </a>
              </div>
              <div class="b-b m-y"></div>
              <div class="nav text-sm _600">
                <a href="#" class="nav-link text-muted m-r-xs">About</a>
                <a href="#" class="nav-link text-muted m-r-xs">Contact</a>
                <a href="#" class="nav-link text-muted m-r-xs">Legal</a>
                <a href="#" class="nav-link text-muted m-r-xs">Policy</a>
              </div>
              <p class="text-muted text-xs p-b-lg">&copy; Copyright 2016</p>
            </div>
          </div> -->
        </div>
      </div>

      <!-- ############ PAGE END-->
    </div>
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  components: {
    PulseLoader
  },
  data () {
    return {
      fetching: false
    }
  },
  methods: {
    ...mapActions('author', [
      'fetchAuthor',
      'fetchAuthorSongs'
    ]),
    ...mapActions('player', [
      'initPlayer',
      'playAudio',
      'playPause',
      'destroyPlayer'
    ]),
    ...mapMutations('author', [
      'SET_AUTHOR',
      'SET_AUTHOR_SONGS'
    ]),
    ...mapMutations('player', [
      'SET_PLAY_LIST',
      'SET_ID_AUDIO_CURRENT'
    ]),
    onPlayClick (s) {
      this.SET_ID_AUDIO_CURRENT(s.id)
      this.SET_PLAY_LIST(this.authorSongs)
      this.initPlayer()
      this.playAudio(s.id)
    }
  },
  computed: {
    ...mapState('author', [
      'authorSongs',
      'author'
    ]),
    ...mapState('player', [
      'idAudioCurrent',
      'isPlaying'
    ])
  },
  async mounted () {
    this.fetchAuthor(this.$route.params.id)
    this.fetching = true
    await this.fetchAuthorSongs(this.$route.params.id)
    this.fetching = false
  },
  beforeRouteLeave (to, from, next) {
    this.SET_AUTHOR(null)
    this.SET_AUTHOR_SONGS([])
    next()
  }
}
</script>
