<template>
  <div class="padding">
    <SearchInput
      class="search-input"
      @onSearch="makeSearch"
      :loading="fetching"
    />
    <div style="padding-bottom: 50px">
      <AudioGroup
        :play-list="playList"
      />
    </div>
  </div>
</template>

<script>
import AudioGroup from '@/components/shared/AudioGroup'
import SearchInput from '@/components/shared/SearchInput'

import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  components: {
    AudioGroup,
    SearchInput
  },
  data () {
    return {
      fetching: false
    }
  },
  computed: {
    ...mapState('search', {
      playList: 'list'
    })
  },
  methods: {
    async makeSearch (q) {
      this.fetching = true
      const playlist = await this.execSearchQuery(q)
      this.fetching = false
      this.SET_PLAY_LIST(playlist)
    },
    ...mapActions('search', [
      'execSearchQuery'
    ]),
    ...mapActions('player', [
      'initPlayer'
    ]),
    ...mapMutations('player', [
      'SET_PLAY_LIST',
      'SET_ID_AUDIO_CURRENT'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .search-input{
    margin-bottom: 16px;
  }
</style>
