<template>
  <div>
    <!-- ############ LAYOUT START-->

    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          <!-- brand -->
          <a href="index.html" class="navbar-brand md">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              width="32"
              height="32"
            >
              <circle cx="24" cy="24" r="24" fill="rgba(255,255,255,0.2)" />
              <circle
                cx="24"
                cy="24"
                r="22"
                fill="#1c202b"
                class="brand-color"
              />
              <circle cx="24" cy="24" r="10" fill="#ffffff" />
              <circle
                cx="13"
                cy="13"
                r="2"
                fill="#ffffff"
                class="brand-animate"
              />
              <path d="M 14 24 L 24 24 L 14 44 Z" fill="#FFFFFF" />
              <circle cx="24" cy="24" r="3" fill="#000000" />
            </svg>

            <img src="images/logo.png" alt="." class="hide" />
            <span class="hidden-folded inline">rapcloud</span>
          </a>
          <!-- / brand -->
        </div>
      </div>
    </div>
    <div class="b-t">
      <div class="center-block w-xxl w-auto-xs p-y-md text-center">
        <div class="p-a-md">
          <form
            @submit.prevent="onSignIn"
            name="form">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-lg black p-x-lg">
              Sign in
            </button>
          </form>
          <div class="p-y-md">
            Do not have an account?
            <router-link to="/signup">
                Sign up
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <!-- ############ LAYOUT END-->
  </div>
</template>

<script>
import store from '@/store/auth/store'
import { mapActions, mapGetters, mapState } from 'vuex'
export default {
  data () {
    return {
      password: '123123123',
      email: 'kulaganikolai@yandex.ru'
    }
  },
  computed: {
    ...mapGetters('auth', [
      'userAuthorized'
    ]),
    ...mapState('auth', [
      'pageAfterLoggedIn'
    ])
  },
  methods: {
    ...mapActions('auth', [
      'A_SIGN_IN'
    ]),
    async onSignIn () {
      const { email, password } = this
      await this.A_SIGN_IN({ email, password })
      if (this.userAuthorized) this.$router.push(this.pageAfterLoggedIn)
    }
  },
  beforeRouteLeave (to) {
    if (to.name === 'Signup') return
    store.commit('SET_PAGE_AFTER_LOGGED_IN', null)
  }
}
</script>
