<template>
  <div>
    <div>
      <Header />
      <AsideNav />
      <div id="content" class="app-content white bg box-shadow-z2" role="main">
        <router-view />
      </div>
      <Footer />
    </div>
    <div
      v-if="asideNavShowed"
      class="modal-backdrop fade in">
    </div>
  </div>
</template>

<script>
import AsideNav from '@/components/shared/AsideNav'
import Footer from '@/components/shared/Footer'
import Header from '@/components/shared/Header'
import { mapState } from 'vuex'

export default {
  components: {
    AsideNav,
    Footer,
    Header
  },
  computed: {
    ...mapState('asideNav', ['asideNavShowed'])
  }
}
</script>

<style lang="scss">
body {
  background: white;
}
</style>
