<template>
  <input
    class="form-control"
    :value="modelValue"
    @keydown.enter="$emit('onSubmit')"
    @input="$emit('update:modelValue', $event.target.value)"
    type="text"
    placeholder="Type keyword"
  />
</template>

<script>
export default {
  props: {
    modelValue: [String, Number]
  }
}
</script>
